/** configs gerais **/
* {
  box-sizing: border-box;
}

body {
  background-color: #ffe6e6;
  font-family: Candara, Helvetic, sans-serif;
  color: #eb4b5e;
  margin: 0;
  padding: 10px 50px 50px 50px;
}

h1, h2 {
  margin: 0;
}

header h1 {
  font-size: 5rem;
  user-select: none;
}

#logo {
  display: flex;
  justify-content: center;
  padding: 15px;
}

#logoImg {
  padding-right: 15px;
  padding-bottom: 10px;
  pointer-events: none;
  user-select: none;
}

.menu {
  background-color: #eb4b5e;
  display: flex;
  justify-content: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.menu a {
  display: block;
  padding: 15px;
  color: white;
  text-decoration: none;
  transition: background-color 0.25s;
  text-align: center;
}

.menu a:hover {
  background-color: white;
  color: #eb4b5e;
}

.coluna-esquerda {
  float: left;
  width: 75%;
  padding-right: 7.5px;
}

.coluna-direita {
float: right;
width: 25%;
padding-left: 7.5px;
}

.card {
  background-color: white;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.lastCard {
  margin-bottom: 125px;
}

#promocaoBanner {
  height: 200px;
  background-image: url('images/brigadeiros.jpg');
  background-size: 200%;
  color: white;
  font-size: 1vw; /** view port widht **/
  position: relative;
  text-shadow: 0px 0px 4px #eb4b5e;
  transition: box-shadow 0.5s;
  cursor: pointer;
  user-select: none;
}

#promocaoBanner:hover {
  box-shadow: 10px 10px 16px #888888;
}

#promocaoH2 {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.sobreImg {
  height: 75px;
  border-radius: 50%; /** ou 50% ou height pra ficar redondo **/
  margin: 10px;
  box-shadow: 0px 0px 5px #888888;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.sobreImg:hover {
  box-shadow: 5px 10px 10px #888888;
}

.sobreItens {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  user-select: none;
}

.sobreTexto a {
  color: #eb4b5e;

}

.promo img {
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
}

.promo {
  margin-top: 10px;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1vw;
  padding: 10px;
  transition: box-shadow 0.3s;
  user-select: none;
  align-items: center;
}

.promo:hover {
  box-shadow: 0px 0px 20px #888888;
}

.social {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social img {
  cursor: pointer;
  margin: 5px;
  transition: opacity 0.3s;
  user-select: none;
}

.social img:hover {
  opacity: 0.65;
}

.grid img {
  margin-top: 5px;
  height: 150px;
  user-select: none;
  border-radius: 50%;
  border: 2px solid #eb4b5e;
}

.produto {
  text-align: center;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: box-shadow 0.3s;
  font-size: 20px;
  padding: 10px;
}

.produto p {
  margin: 5px;
}

.tituloProduto {
  font-weight: bold;
}

.produto:hover {
  box-shadow: 5px 10px 15px #888888;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap:20px;
}

.gridDiferenciada {
  height: 295px;
  overflow: hidden;
  padding: 20px;
}

#entrega {
  position: fixed;
  bottom: 5px;
  right: 10px;
  height: 100px;
  width: 300px;
}

#entrega img {
  position: absolute;
  right: 15px;
  width: 75px;
  border-radius: 50%;
  user-select: none;
}

#telefone {
  position: absolute;
  height: 60px;
  background-color: #cf4b4f;
  color: white;
  margin-top: 10px;
  padding: 10px;
  left: 15px;
  border-radius: 15px;
  opacity: 0;
  transition: opacity 0.3s;
}

#entrega img:hover + #telefone {
  opacity: 1;
}

#telefone p {
  margin: 0;
}

@media screen and (max-width: 800px) {

  .coluna-esquerda {
    width: 100%;
    padding: 0;
  }

  .coluna-direita {
    width: 100%;
    padding: 0;
  }

  header h1 {
    font-size: 3rem;
  } 

  #logoImg {
    width: 75px;
  }

  #promocaoBanner {
  font-size: 4vw;
  margin-top: 0;
  }

  .promo {
  font-size: 3vw;
  }

  body {
    padding: 5px 25px 25px 25px;
  }


}

@media screen and (max-width: 450px) {

  .menu {
    display: block;
    width: 100%;
  }

}